{% extends 'products/base.html' %}
{% block content %}
{% load tags%}
<div class="row text-center gx-4 gy-4">
    {% for product in object_list %}
    <div class="col-3">
        <div class="card">
            <img src="{{ product.photo | media_filter }}">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description|truncatechars:100 }}</p>
                <p class="card-text fw-bold fs-5">{{ product.price }} ₽</p>
                <a href="{% url 'catalog:product_detail' product.pk %}" class="card-link">Просмотр</a>
                <a href="{% url 'catalog:product_update' product.pk %}" class="card-link">Редактировать</a>
                <a href="{% url 'catalog:product_delete' product.pk %}" class="card-link">Удалить</a>

            </div>
        </div>
    </div>
    {% endfor %}
    {% endblock %}