{% extends 'blog/base.html' %}
{% block content %}

<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-body text-center">
                <h3>Удалить статью?</h3>
                <p class="lead">Вы действительно хотите удалить "{{ object.title }}"?</p>

                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Удалить</button>
                    <a href="{% url 'blog:list' %}" class="btn btn-secondary">Отмена</a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}